<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- FrontController の登録 -->
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>tool.FrontController</servlet-class>
    </servlet>

    <!-- FrontController への URL パターン -->
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

</web-app>
